body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.completed {
  opacity: 0.7;
  text-decoration: line-through;
}
.selection {
  border: 1px solid red;
  height: 5rem;
  color: red;
}
#searchInput {
  width: 15rem;
  margin-top: 2rem;
}
.main {
  margin-top: 4rem;
}
.collection-item {
  border-bottom: 1px solid rgba(143, 140, 140, 0.596) !important;
}
